<footer class="mainfooter p-3" role="contentinfo" style="background-color: rgb(15, 50, 100); color: white">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad lead">
            <h4>Links</h4>
            <ul class="list-unstyled h6 my-3 lead">
              <li><a href="{% url 'home' %}" class="text-white">Home</a></li>
              <li><a href="{% url 'aboutus' %}" class="text-white">About us</a></li>
              <li><a href="{% url 'contactus' %}" class="text-white">Contact Us</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <h4>Follow Us</h4>
          <ul class="social-network social-circle my-3">
            <li>
              <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook text-white lead"></i></a>
            </li>
            <li>
              <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin text-white lead"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center text-white">
            AML SOLUTIONS<br />25 Lornie Avenue, Auckland 10345<br />
            Tel: 010-020-0340
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scripts -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/animation.js"></script>
<script src="assets/js/imagesloaded.js"></script>
<script src="assets/js/templatemo-custom.js"></script>
