{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Customer</title>
    <link href="{% static 'bootstrap-5.3.2/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{% static 'login.css' %}" rel="stylesheet" />
  </head>
  <body>
    <section class="pb-2 home-body">
      <div class="container mb-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-10 pt-5">
            <div class="card text-black bg-light" style="border-radius: 25px">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-md-12 col-lg-10 col-xl-8 order-2 order-lg-1">
                    {% if messages %}
                    <ul class="messages list-unstyled">
                      {% for message in messages %}
                      <li class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}

                    <p class="text-center h1 fw-bold mb-1 mx-1 mx-md-4 mt-4">New Customer</p>

                    <form class="mx-1 mx-md-4 mt-3" method="post" action="{% url 'cdd:register' %}">
                      {% csrf_token %}

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <input
                          name="full_name"
                          id="id_full_name"
                          type="text"
                          class="form-control"
                          placeholder="Full Name"
                          value="{% if form.full_name.value %}{{ form.full_name.value }}{% endif %}"
                        />
                      </div>

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <label class="input-group-text" for="id_date_of_birth">DOB</label>
                        <input
                          name="date_of_birth"
                          id="id_date_of_birth"
                          type="date"
                          class="form-control"
                          placeholder="Date of Birth"
                          value="{{ form.date_of_birth.value}}"
                        />
                      </div>

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <input
                          name="address"
                          id="id_address"
                          type="text"
                          class="form-control"
                          placeholder="Address"
                          value="{% if form.address.value %}{{ form.address.value }}{% endif %}"
                        />
                      </div>

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <input
                          name="phone"
                          id="id_phone"
                          type="text"
                          class="form-control"
                          placeholder="Phone number"
                          value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}"
                        />
                      </div>

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <input
                          name="email"
                          id="id_email"
                          type="text"
                          class="form-control"
                          placeholder="Email"
                          value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                        />
                      </div>
                      <div class="d-flex flex-row mb-4">
                        <label>Is the Customer a director of any companies?</label>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input ms-2"
                            type="radio"
                            id="id_is_director_no"
                            name="is_director"
                            value="No"
                          />
                          <label class="form-check-label" for="id_is_director_no">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            id="id_is_director_yes"
                            name="is_director"
                            value="Yes"
                          />
                          <label class="form-check-label" for="id_is_director_yes">Yes</label>
                        </div>
                      </div>
                      <div class="d-flex flex-row mb-4" id="companyDropdownDirector" style="display: none">
                        <div class="input-group">
                          <label class="form-control" for="id_company_director">Select Company:</label>
                          <select
                            class="form-select"
                            aria-label="Default select example"
                            id="id_company_director"
                            name="company"
                          >
                            <option selected>------</option>
                            {% for company in companies %}
                            <option value="{{ company.id }}">{{ company.name }}</option>
                            {% endfor %}
                          </select>
                          <button class="btn btn-outline-secondary" type="button" onclick="openCompanyModal()">
                            Add new company
                          </button>
                        </div>
                      </div>

                      <div class="d-flex flex-row mb-4">
                        <label>Is the Customer a Shareholder of any companies?</label>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input ms-2"
                            type="radio"
                            id="id_is_shareholder_no"
                            name="is_shareholder"
                            value="No"
                          />
                          <label class="form-check-label" for="id_is_shareholder_no">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            id="id_is_shareholder_yes"
                            name="is_shareholder"
                            value="Yes"
                          />
                          <label class="form-check-label" for="id_is_shareholder_yes">Yes</label>
                        </div>
                      </div>
                      <div class="d-flex flex-row mb-4" id="companyDropdownShareholder" style="display: none">
                        <div class="input-group">
                          <label class="form-control" for="id_company_shareholder">Select Company:</label>
                          <select
                            class="form-select"
                            aria-label="Default select example"
                            id="id_company_shareholder"
                            name="company"
                          >
                            <option selected>------</option>
                            {% for company in companies %}
                            <option value="{{ company.id }}">{{ company.name }}</option>
                            {% endfor %}
                          </select>
                          <button class="btn btn-outline-secondary" type="button" onclick="openCompanyModal()">
                            Add new company
                          </button>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center input-group mb-4">
                        <textarea
                          name="additional_info"
                          id="id_additional_info"
                          class="form-control"
                          placeholder="Additional information"
                        >
{% if form.additional_info.value is not None%}{{form.additional_info.value}}{%endif%}</textarea
                        >
                      </div>

                      {% if form.errors %}
                      <div class="d-flex flex-row align-items-center mb-4">
                        <ul class="list-unstyled">
                          {% if form.non_field_errors %}
                          <li class="alert alert-danger fade show" role="alert">
                            <strong>Error:</strong>{{ form.non_field_errors }}
                          </li>
                          {% endif %}
                          <li class="alert alert-danger fade show" role="alert">
                            {% for field in form %} {% if field.errors %}
                            <strong>{{ field.label }}:</strong>{{ field.errors }} {% endif %}{% endfor %}
                          </li>
                        </ul>
                      </div>
                      {% endif %}

                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-lg" style="background-color: #0085ff">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal for Adding New Company -->
    <div class="modal fade" id="companyModal" tabindex="-1" aria-labelledby="companyModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="companyModalLabel">Add New Company</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Add your form for creating a new company here -->
            <form id="companyCreateForm" method="post" action="{% url 'cdd:create_company_view' %}">
              {% csrf_token %}
              <div class="d-flex flex-row input-group align-items-center mb-4">
                <input
                  name="name"
                  id="id_name"
                  type="text"
                  class="form-control"
                  placeholder="Company Name"
                  value="{% if form.name.value %}{{ form.name.value }}{% endif %}"
                />
              </div>
              <div class="d-flex flex-row input-group align-items-center mb-4">
                <!-- prettier-ignore -->
                <input
                  name="company_registration_num"
                  id="id_company_registration_num"
                  type="number"
                  class="form-control"
                  placeholder="Company Registration Number (NZBN)"
                  value="{% if form.company_registration_num.value %}{{ form.company_registration_num.value }}{% endif %}"
                />
              </div>
              <div class="d-flex flex-row input-group align-items-center mb-4">
                <input
                  name="address"
                  id="id_address"
                  type="text"
                  class="form-control"
                  placeholder="Company Address"
                  value="{% if form.address.value %}{{ form.address.value }}{% endif %}"
                />
              </div>
              {% if form.errors %}
              <div class="d-flex flex-row align-items-center mb-4">
                <ul class="list-unstyled">
                  <li class="alert alert-danger fade show" role="alert">
                    {% for field in form %} {% if field.errors %}
                    <strong>{{ field.label }}:</strong>{{ field.errors }} {% endif %}{% endfor %}
                  </li>
                </ul>
              </div>
              {% endif %}

              <button type="submit" class="btn btn-primary">Create Company</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- AJAX Script for Form Submission -->
    <script>
      if (typeof jQuery == "undefined") {
        console.error("jQuery is not loaded!");
      } else {
        console.log("jQuery is loaded!");
      }

      function openCompanyModal() {
        $("#companyModal").modal("show");
      }
      console.log("Script loaded!");

      $(document).ready(function () {
        // Log form existence
        console.log($("#companyCreateForm"));

        // Add an event listener for the button click
        $("#companyCreateForm").click(function () {
          console.log("Button clicked!");
          openCompanyModal();
        });

        $("#companyCreateForm").submit(function (e) {
          e.preventDefault();
          var form = $(this);
          $.ajax({
            type: form.attr("method"),
            url: form.attr("action"),
            data: form.serialize(),
            success: function (data, textStatus, jqXHR) {
              if (jqXHR.status === 200) {
                // Handle success response
                console.log("Success:", data);
                $("#companyModal").modal("hide");
              } else {
                console.log("Unexpected status code:", jqXHR.status);
              }
            },
            error: function (jqXHR, textStatus, errorThrown) {
              // Handle the error response
              console.log("Error:", textStatus, errorThrown);
            },
          });
        });
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Get references to elements
        var dropdownDirector = document.getElementById("companyDropdownDirector");
        var dropdownShareholder = document.getElementById("companyDropdownShareholder");
        var isDirectorYes = document.getElementById("id_is_director_yes");
        var isShareholderYes = document.getElementById("id_is_shareholder_yes");

        // Function to update dropdown visibility
        function updateDropdownVisibility() {
          console.log("isDirectorYes checked:", isDirectorYes.checked);
          console.log("isShareholderYes checked:", isShareholderYes.checked);

          // Use Bootstrap utility classes to control visibility
          dropdownDirector.classList.toggle("d-none", !isDirectorYes.checked);
          dropdownShareholder.classList.toggle("d-none", !isShareholderYes.checked);
        }

        // Set initial state on page load
        updateDropdownVisibility();

        // Add event listeners
        isDirectorYes.addEventListener("change", updateDropdownVisibility);
        isShareholderYes.addEventListener("change", updateDropdownVisibility);
      });
    </script>

    <script src="{% static 'bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
  </body>
</html>
