{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Update Customer</title>
    <link href="{% static 'bootstrap-5.3.2/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{% static 'login.css' %}" rel="stylesheet" />
  </head>
  <body>
    <section class="pb-2 home-body">
      <div class="container mb-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-10 pt-5">
            <div class="card text-black bg-light" style="border-radius: 25px">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-md-12 col-lg-10 col-xl-8 order-2 order-lg-1">
                    {% if messages %}
                    <ul class="messages list-unstyled">
                      {% for message in messages %}
                      <li class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}

                    <p class="text-center h1 fw-bold mb-1 mx-1 mx-md-4 mt-4">Update Customer Details</p>

                    <form class="mx-1 mx-md-4 mt-3" method="post" action="{% url 'cdd:update_customer' customer.id %}">
                      {% csrf_token %}

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <input
                          name="full_name"
                          id="id_full_name"
                          type="text"
                          class="form-control"
                          placeholder="{{ customer.full_name }}"
                          value="{{ form.full_name.value}}"
                        />
                      </div>

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <label class="input-group-text" for="id_date_of_birth">DOB</label>
                        <input
                          name="date_of_birth"
                          id="id_date_of_birth"
                          type="date"
                          class="form-control"
                          placeholder="Date of Birth"
                          value="{% if customer.date_of_birth %}{{ customer.date_of_birth|date:'Y-m-d' }}{% endif %}"
                        />
                      </div>

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <input
                          name="address"
                          id="id_address"
                          type="text"
                          class="form-control"
                          placeholder="{{ customer.address }}"
                          value="{{ form.address.value}}"
                        />
                      </div>

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <input
                          name="phone"
                          id="id_phone"
                          type="text"
                          class="form-control"
                          placeholder="{{ customer.phone}}"
                          value="{{ form.phone.value}}"
                        />
                      </div>

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <input
                          name="email"
                          id="id_email"
                          type="text"
                          class="form-control"
                          placeholder="{{ customer.email}}"
                          value="{{ form.email.value}}"
                        />
                      </div>

                      <div class="d-flex flex-row align-items-center input-group mb-4">
                        <textarea
                          name="additional_info"
                          id="id_additional_info"
                          class="form-control"
                          placeholder="{{ customer.additional_info}}"
                        >
{% if form.additional_info.value is not None%}{{form.additional_info.value}}{%endif%}</textarea
                        >
                      </div>

                      {% if form.errors %}
                      <div class="d-flex flex-row align-items-center mb-4">
                        <ul class="list-unstyled">
                          <li class="alert alert-danger fade show" role="alert">
                            {% for field in form %} {% if field.errors %}
                            <strong>{{ field.label }}:</strong>{{ field.errors }} {% endif %}{% endfor %}
                          </li>
                        </ul>
                      </div>
                      {% endif %}

                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-lg" style="background-color: #0085ff">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="{% static 'bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
  </body>
</html>
