{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Update Customer</title>
    <link href="{% static 'bootstrap-5.3.2/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{% static 'login.css' %}" rel="stylesheet" />
    <script src="{% static 'cdd_scripts.js' %}"></script>
  </head>
  <body>
    <section class="pb-2 home-body">
      <div class="container mb-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-10 pt-5">
            <div class="card text-black bg-light" style="border-radius: 25px">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-md-12 col-lg-10 col-xl-8 order-2 order-lg-1">
                    {% if messages %}
                    <ul class="messages list-unstyled">
                      {% for message in messages %}
                      <li class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}

                    <p class="text-center h1 fw-bold mb-1 mx-1 mx-md-4 mt-4">Update Customer Details</p>

                    <form id="updateCustomerForm" class="mx-1 mx-md-4 mt-3" method="post" action="">
                      {% csrf_token %}

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <input
                          name="full_name"
                          id="id_full_name"
                          type="text"
                          class="form-control"
                          placeholder="{{ customer.full_name }}"
                          value="{{ form.full_name.value}}"
                        />
                      </div>

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <label class="input-group-text" for="id_date_of_birth">DOB</label>
                        <input
                          name="date_of_birth"
                          id="id_date_of_birth"
                          type="date"
                          class="form-control"
                          placeholder="Date of Birth"
                          value="{% if customer.date_of_birth %}{{ customer.date_of_birth|date:'Y-m-d' }}{% endif %}"
                        />
                      </div>

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <input
                          name="address"
                          id="id_address"
                          type="text"
                          class="form-control"
                          placeholder="{{ customer.address }}"
                          value="{{ form.address.value}}"
                        />
                      </div>

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <input
                          name="phone"
                          id="id_phone"
                          type="text"
                          class="form-control"
                          placeholder="{{ customer.phone}}"
                          value="{{ form.phone.value}}"
                        />
                      </div>

                      <div class="d-flex flex-row input-group align-items-center mb-4">
                        <input
                          name="email"
                          id="id_email"
                          type="text"
                          class="form-control"
                          placeholder="{{ customer.email}}"
                          value="{{ form.email.value}}"
                        />
                      </div>

                      <div class="d-flex flex-row mb-4">
                        <label>Is the Customer a director of any companies?</label>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input ms-2" type="radio" id="id_is_director_no" name="" value="No" />
                          <label class="form-check-label" for="id_is_director_no">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            id="id_is_director_yes"
                            name="is_director_yes"
                            value="Yes"
                          />
                          <label class="form-check-label" for="id_is_director_yes">Yes</label>
                        </div>
                      </div>
                      <div class="d-flex flex-row mb-4" id="companyDropdownDirector" style="display: none">
                        <div class="input-group">
                          <label class="form-control" for="id_company_director">Select Company:</label>
                          <select
                            class="form-select"
                            aria-label="Default select example"
                            id="id_company_director"
                            name="company_director"
                          >
                            <option selected>------</option>
                            {% for company in companies %}
                            <option value="{{ company.id }}">{{ company.name }}</option>
                            {% endfor %}
                          </select>
                          <button class="btn btn-outline-secondary" type="button" onclick="openCompanyModal()">
                            Add new company
                          </button>
                        </div>
                      </div>

                      <div class="d-flex flex-row mb-4">
                        <label>Is the Customer a shareholder of any companies?</label>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input ms-2" type="radio" id="id_is_shareholder_no" name="" value="No" />
                          <label class="form-check-label" for="id_is_shareholder_no">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            id="id_is_shareholder_yes"
                            name="is_shareholder_yes"
                            value="Yes"
                          />
                          <label class="form-check-label" for="id_is_shareholder_yes">Yes</label>
                        </div>
                      </div>
                      <div class="d-flex flex-row mb-4" id="companyDropdownShareholder" style="display: none">
                        <div class="input-group">
                          <label class="form-control" for="id_company_shareholder">Select Company:</label>
                          <select
                            class="form-select"
                            aria-label="Default select example"
                            id="id_company_shareholder"
                            name="company_shareholder"
                          >
                            <option selected>------</option>
                            {% for company in companies %}
                            <option value="{{ company.id }}">{{ company.name }}</option>
                            {% endfor %}
                          </select>
                          <button class="btn btn-outline-secondary" type="button" onclick="openCompanyModal()">
                            Add new company
                          </button>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center input-group mb-4">
                        <textarea
                          name="additional_info"
                          id="id_additional_info"
                          class="form-control"
                          placeholder="{{ customer.additional_info}}"
                        >
{% if form.additional_info.value is not None%}{{form.additional_info.value}}{%endif%}</textarea
                        >
                      </div>

                      <!-- Errors displayed dynamically -->
                      <div class="d-flex flex-row align-items-center mb-4">
                        <ul class="list-unstyled error-list"></ul>
                      </div>
                      <!-- Success displayed dynamically -->
                      <div class="d-flex flex-row align-items-center mb-4">
                        <ul class="list-unstyled success-list"></ul>
                      </div>

                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-lg" style="background-color: #0085ff">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Pass customer data to be referenced in javascripts -->
      <div id="customer-data" data-customer-id="{{ customer.id }}"></div>
    </section>
    {% include 'modal_company.html'%}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- AJAX Script for Form Submission -->
    <script type="text/javascript">
      function openCompanyModal() {
        $("#companyModal").modal("show");
        console.log("Modal Script loaded!");
      }
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        console.log("Dropdown Director/Shareholder script");
        // Get references to elements
        var dropdownDirector = document.getElementById("companyDropdownDirector");
        var dropdownShareholder = document.getElementById("companyDropdownShareholder");
        var isDirectorYes = document.getElementById("id_is_director_yes");
        var isShareholderYes = document.getElementById("id_is_shareholder_yes");

        // Function to update dropdown visibility
        function updateDropdownVisibility() {
          console.log("isDirectorYes checked:", isDirectorYes.checked);
          console.log("isShareholderYes checked:", isShareholderYes.checked);

          // Use Bootstrap utility classes to control visibility
          dropdownDirector.classList.toggle("d-none", !isDirectorYes.checked);
          dropdownShareholder.classList.toggle("d-none", !isShareholderYes.checked);
        }

        // Set initial state on page load
        updateDropdownVisibility();

        // Add event listeners
        isDirectorYes.addEventListener("change", updateDropdownVisibility);
        isShareholderYes.addEventListener("change", updateDropdownVisibility);

        $("#updateCustomerForm").submit(function (e) {
          console.log("Script for update customer form");
          // prevent from normal form behaviour
          e.preventDefault();
          // serialize the form data
          var serializedData = $(this).serialize();
          var customerId = document.getElementById("customer-data").getAttribute("data-customer-id");
          console.log("Customer ID: " + customerId);

          $.ajax({
            type: "POST",
            url: "/cdd/update/" + customerId + "/",
            data: serializedData,

            success: function (response) {
              $(".success-list").empty();

              console.log(response.message);
              // Append new success message to the list
              $(".success-list").append(`<li class="alert alert-success fade show" role="alert">${response.message}</li>`);

              setTimeout(function () {
                // Hide and empty the success message after 5 seconds
                $(".success-list").fadeOut().empty();
              }, 3000);

              // reset the form after successful submit
              setTimeout(function () {
                // Reset the form after 3 seconds
                $("#companyModal").modal("hide");
              }, 3000);
            },
            error: function (response) {
              //console.log(response.responseJSON.errors_html);
              //console.log(response.responseJSON.message);
              //console.log(response.responseText);
              console.log(response);

              // Clear existing error messages
              $(".error-list").empty();

              // Display error messages for each field
              // Iterate over error messages and create list items
              for (var field in response.responseJSON.errors_html) {
                var errorMessage = response.responseJSON.errors_html[field];
                var listItem = createErrorListItem(errorMessage);

                // Append the list item to the error list
                $(".error-list").append(listItem);
              }
            },
          });
        });
      });

      $("#createCompanyForm").submit(function (e) {
        // prevent from normal form behaviour
        e.preventDefault();
        // serialize the form data
        var serializedData = $(this).serialize();
        $.ajax({
          type: "POST",
          url: "create_company/",
          data: serializedData,
          success: function (response) {
            $(".success-list").empty();

            console.log(response.message);
            // Append new success message to the list
            $(".success-list").append(`<li class="alert alert-success fade show" role="alert">${response.message}</li>`);

            setTimeout(function () {
              // Hide and empty the success message after 5 seconds
              $(".success-list").fadeOut().empty();
            }, 3000);

            // reset the form after successful submit
            setTimeout(function () {
              // Reset the form after 3 seconds
              $("#createCompanyForm")[0].reset();
            }, 3000);
          },
          error: function (response) {
            //console.log(response.responseJSON.errors_html);
            //console.log(response.responseJSON.message);
            //console.log(response.responseText);
            //console.log(response);

            // Clear existing error messages
            $(".error-list").empty();

            // Display error messages for each field
            // Iterate over error messages and create list items
            for (var field in response.responseJSON.errors_html) {
              var errorMessage = response.responseJSON.errors_html[field];
              var listItem = createErrorListItem(errorMessage);

              // Append the list item to the error list
              $(".error-list").append(listItem);
            }
          },
        });
      });
    </script>

    <script src="{% static 'bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
  </body>
</html>
