{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Risk Assessment</title>
    <!-- Custom styles for this template -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha383-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <section class="p-2" style="background-color: #f8f9fa">
      <h2>Risk Assessment</h2>
      <h4>Your last risk assessment was made at: {{ last_risk_assessment.date_created|date:"Y-m-d H:i:s" }} UTC</h4>
      <form method="post">
        {% csrf_token %} {% if messages %}
        <ul class="messages list-unstyled">
          {% for message in messages %}
          <li class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </li>
          {% endfor %}{% endif %}
        </ul>

        {% if form.errors %}
        <div class="d-flex flex-row align-items-center mb-4">
          <ul class="list-unstyled">
            <li class="alert alert-danger fade show" role="alert">
              {% for field in form %} {% if field.errors %}
              <strong>{{ field.label }}:</strong>{{ field.errors }} {% endif %}{% endfor %}
            </li>
          </ul>
        </div>
        {% endif %}

        <!---->
        {% if form.non_fields_errors %}
        <div class="d-flex flex-row align-items-center mb-4">
          <ul class="list-group">
            {% for field in form %}
            <li>
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{ field.non_fields_errors }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %} {% for field in form %}
        <div class="form-group">
          <label class="form-check-label">{{ field.label }}</label>
          <div class="form-check mb-3">{{ field }}</div>
        </div>
        {% endfor %}

        <button class="btn btn-primary ms-3" type="submit">Submit</button>
      </form>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
      ></script>
    </section>
  </body>
</html>
