{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-9" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Risk Home</title>
    <!-- Custom styles for this template -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha383-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <section class="p-2" style="background-color: #f8f9fa">
      <h1>Risk Assessment</h1>
      <dl class="row">
        <dt class="col-sm-3">What you have to do</dt>
        <dd class="col-sm-9">
          The first things you should do as part of your obligations under the Act are:
          <ul>
            <li>appoint an AML/CFT compliance officer (compliance officer)</li>
            <li>
              conduct a risk assessment to identify and determine the ML/TF risks you may encounter in the course of your
              business
            </li>
            <li>
              develop and implement a programme containing the procedures, policies and controls used to manage and mitigate
              those risks.
            </li>
          </ul>
        </dd>
        <dt class="col-sm-3">Risk Assessment</dt>
        <dd class="col-sm-9">
          <p>
            A core element of your AML/CFT regime is an adequate and effective risk assessment. The risk assessment is the
            foundation of a proportionate risk-based AML/CFT framework. Your AML/CFT supervisor expects that you will have a
            clear understanding of the ML/TF risks and vulnerabilities you face during the course of business.
          </p>
          <p>
            You <strong>must</strong> base your programme on your risk assessment. The risk assessment is the foundation
            document for your entire AML/CFT regime. This should be clearly explained in your risk assessment and programme
            documentation.
          </p>
        </dd>
        <dt class="col-sm-3">Legal obligations relating to risk assessments</dt>
        <dd class="col-sm-9">
          As a reporting entity you have a number of obligations under the Act in relation to your risk assessment:
          <ul>
            <li>
              Your risk assessment <strong>must</strong> identify the risk of ML/TF you may reasonably expect to face during
              your business.
            </li>
            <li>
              Your risk assessment <strong>must</strong> enable you to determine the level of risk involved in relation to
              relevant obligations under the Act. This includes the ML/TF risk presented by your customer, the products and
              services you offer and the countries you deal with.
            </li>
            <li>
              Your risk assessment <strong>must</strong> be in writing and include a description of how it will be kept up to
              date.
            </li>
            <li>
              Your risk assessment <strong>must</strong> have regard to guidance produced by the AML/CFT supervisors and the
              FIU.
            </li>
            <li>
              You <strong>must</strong> use your risk assessment to develop your programme as set out in the Act. Refer to
              the AML/CFT Programme Guideline for further information.
            </li>
            <li>
              You <strong>must</strong> review your risk assessment to ensure it is up to date, identifies any deficiencies,
              and make any changes identified as necessary.
            </li>
            <li>
              Your risk assessment <strong>must</strong> be independently audited by an appropriately qualified person every
              two years or at any other time at the request of your AML/CFT supervisor
            </li>
          </ul>
          <p>
            When evaluating your risk assessment (and your programme), supervisors and auditors will want to explore both
            <strong>adequacy</strong> and <strong>effectiveness</strong>. Adequacy is described as how compliant your risk
            assessment is with the various obligations of the Act. Effectiveness is described as how well the practical
            application of the risk assessment meets the obligations of the Act. This will be something you discuss with your
            supervisor and auditor.
          </p>
        </dd>
        <dt class="col-sm-3">List of abbreviations</dt>
        <dd class="col-sm-9">
          <div class="container">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="col-3">The Act</td>
                  <td class="col-9">Anti-Money Laundering and Countering Financing of Terrorism Act 2009</td>
                </tr>
                <tr>
                  <td class="col-3">AML/CFT</td>
                  <td class="col-9">AML/CFT Anti-money laundering and countering financing of terrorism</td>
                </tr>
                <tr>
                  <td class="col-3">CDD</td>
                  <td class="col-9">Customer due diligence</td>
                </tr>
                <tr>
                  <td class="col-3">DIA</td>
                  <td class="col-9">Department of Internal Affairs</td>
                </tr>
                <tr>
                  <td class="col-3">EDD</td>
                  <td class="col-9">Enhanced customer due diligence</td>
                </tr>
                <tr>
                  <td class="col-3">FIU</td>
                  <td class="col-9">New Zealand Financial Intelligence Unit</td>
                </tr>
                <tr>
                  <td class="col-3">FATF</td>
                  <td class="col-9">FATF Financial Action Task Force</td>
                </tr>
                <tr>
                  <td class="col-3">FMA</td>
                  <td class="col-9">Financial Markets Authority</td>
                </tr>
                <tr>
                  <td class="col-3">ML</td>
                  <td class="col-9">Money laundering</td>
                </tr>
                <tr>
                  <td class="col-3">NRA</td>
                  <td class="col-9">National Risk Assessment</td>
                </tr>
                <tr>
                  <td class="col-3">RBA</td>
                  <td class="col-9">Risk-based approach</td>
                </tr>
                <tr>
                  <td class="col-3">TF</td>
                  <td class="col-9">Terrorism financing</td>
                </tr>
                <tr>
                  <td class="col-3">Risk assessment</td>
                  <td class="col-9">AML/CFT risk assessment</td>
                </tr>
              </tbody>
            </table>
          </div>
        </dd>
      </dl>
    </section>
  </body>
</html>
