{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register</title>
    <link href="{% static 'bootstrap-5.3.2/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{% static 'login.css' %}" rel="stylesheet" />
    <script src="{% static 'cdd_scripts.js' %}"></script>
  </head>

  <body>
    <section class="pb-2 home-body">
      <div class="container mb-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-10 pt-5">
            <div class="card text-black bg-light" style="border-radius: 25px">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-md-12 col-lg-10 col-xl-8 order-2 order-lg-1">
                    <p class="text-center h1 fw-bold mb-1 mx-1 mx-md-4 mt-4">New User</p>

                    <form class="mx-1 mx-md-4 needs-validation mt-3" id="user-form" method="post" action="">
                      {% csrf_token %}

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fa fa-building fa-lg me-3 fa-fw mb-4 mt-3"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="form-label ms-2"><strong>New user account for: </strong></label>
                          {{ request.user.userprofile.entity }}
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fa fa-envelope fa-lg me-3 fa-fw mb-4"></i>
                        <div for="id_email" class="form-outline flex-fill mb-0">
                          {{ form.email }}
                          <label class="form-label ms-2">Email</label>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fa fa-user fa-lg me-3 fa-fw mb-4"></i>
                        <div class="form-outline flex-fill mb-0">
                          {{ form.first_name }}
                          <label for="id_first_name" class="form-label ms-2">First Name</label>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fa fa-user fa-lg me-3 fa-fw mb-4"></i>
                        <div for="id_last_name" class="form-outline flex-fill mb-0">
                          {{ form.last_name }}
                          <label class="form-label ms-2">Last Name</label>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fa fa-lock fa-lg me-3 fa-fw mb-4"></i>
                        <div for="id_password1" class="form-outline flex-fill mb-0">
                          {{ form.password1 }}
                          <label class="form-label ms-2">Password</label>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fa fa-key fa-lg me-3 fa-fw mb-4"></i>
                        <div for="id_password2">
                          {{ form.password2 }}
                          <label class="form-label ms-2">Repeat your password</label>
                        </div>
                      </div>

                      <!-- Errors displayed dynamically -->
                      <div class="d-flex flex-row align-items-center mb-4">
                        <ul class="list-unstyled error-list"></ul>
                      </div>
                      <!-- Success displayed dynamically -->
                      <div class="d-flex flex-row align-items-center mb-4">
                        <ul class="list-unstyled success-list"></ul>
                      </div>

                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-lg" style="background-color: #0085ff">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
      console.log("Scripts loaded");
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#user-form").submit(function (e) {
          // prevent from normal form behaviour
          e.preventDefault();
          // serialize the form data
          var serializedData = $(this).serialize();
          $.ajax({
            type: "POST",
            url: "/base/register-user/",
            data: serializedData,
            success: function (response) {
              $(".success-list").empty();

              console.log(response.message);
              // Append new success message to the list
              $(".success-list").append(`<li class="alert alert-success fade show" role="alert">${response.message}</li>`);

              setTimeout(function () {
                // Hide and empty the success message after 5 seconds
                $(".success-list").fadeOut().empty();
              }, 3000);

              // reset the form after successful submit
              setTimeout(function () {
                // Reset the form after 3 seconds
                $("#createCompanyForm")[0].reset();
              }, 3000);
            },
            error: function (response) {
              //console.log(response.responseJSON.errors_html);
              //console.log(response.responseJSON.message);
              //console.log(response.responseText);
              //console.log(response);

              // Clear existing error messages
              $(".error-list").empty();

              // Display error messages for each field
              // Iterate over error messages and create list items
              for (var field in response.responseJSON.errors_html) {
                var errorMessage = response.responseJSON.errors_html[field];
                var listItem = createErrorListItem(errorMessage);

                // Append the list item to the error list
                $(".error-list").append(listItem);
              }
            },
          });
        });
      });
    </script>
    <script src="{% static 'bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
  </body>
</html>
