{% load static %} {% block content %}
<section class="pb-2 home-body">
  <div class="container mb-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-10 pt-5">
        <div class="card text-black bg-light" style="border-radius: 25px">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-10 col-xl-8 order-2 order-lg-1">
                {% if messages %}
                <ul class="messages list-unstyled">
                  {% for message in messages %}
                  <li class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}

                <p class="text-center h1 fw-bold mb-1 mx-1 mx-md-4 mt-4">Check Customer</p>

                <form
                  data-page="Check Customer"
                  enctype="multipart/form-data"
                  class="mx-1 mx-md-4 mt-3"
                  method="post"
                  action="{% url 'cdd:verify' %}"
                >
                  {% csrf_token %}

                  <div class="d-flex flex-row input-group align-items-center mb-4">
                    <label class="input-group-text" for="id_existing_customers">Customer:</label>
                    <select name="existing_customers" id="id_existing_customers" class="form-select">
                      <option value="">Select an existing customer:</option>
                      {% for customer in existing_customers %}
                      <option value="{{customer.id}}">{{ customer.full_name }}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="d-flex flex-row input-group align-items-center mb-4">
                    <label class="input-group-text" for="id_proof_of_address">Proof of address</label>
                    <input name="proof_of_address" id="id_proof_of_address" type="file" class="form-control" />
                  </div>

                  <div class="d-flex flex-row input-group align-items-center mb-4">
                    <label class="input-group-text" for="id_proof_of_identity">Proof of identity</label>
                    <input name="proof_of_identity" id="id_proof_of_identity" type="file" class="form-control" />
                  </div>

                  {% if form.errors %}
                  <div class="d-flex flex-row align-items-center mb-4">
                    <ul class="list-unstyled">
                      <li class="alert alert-danger fade show" role="alert">
                        {% for field in form %} {% if field.errors %}
                        <strong>{{ field.label }}:</strong>{{ field.errors }} {% endif %}{% endfor %}
                      </li>
                    </ul>
                  </div>
                  {% endif %}

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-lg" style="background-color: #0085ff">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
{% endblock %}
